<div class="table-responsive">
  <table class="table table-dark">
    <thead>
      <tr>
        <th scope="col">Exercise</th>
        <th class="text-center" scope="col">Starting Repetitions</th>
        <th class="text-center" scope="col">Repetition Progression per Week</th>
        <th class="text-center" scope="col">Starting Weight</th>
        <th class="text-center" scope="col">Weight Progression per Week</th>
      </tr>
    </thead>
    <tbody>
      {% for key, value in trainingplan.exercises.items %}
      <tr>
        <td>{{ key }}</td>
        <td class="text-center">{{ value.0|floatformat:"-1" }}</td>
        <td class="text-center">{{ value.1|floatformat:"-1" }}</td>
        <td class="text-center">{{ value.2|floatformat:"-1" }}</td>
        <td class="text-center">{{ value.3|floatformat:"-1" }}</td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
</div>