{% extends 'base_generic.html' %}
{% block content %}
<div class="container">

  {% if user.is_authenticated %}
  <div class="text-center mt-5">
    <h2>LadyWarcraft's Fitness App</h2>
    <p>Welcome {{ request.user }}</p>
  </div>
  <h3 class="mb-4">My Training Schedules</h3>
  {% if training_schedules %}
  <div class="row">
    {% for training_schedule in training_schedules %}
    <div class="col-12 col-md-3">
      <div class="card text-center bg-black text-white border">
        <div class="card-header bg-dark">{{ training_schedule.start_date|date:"d.m.y" }} - {{ training_schedule.end_date|date:"d.m.y" }}</div>
        <div class="card-body">
          <div class="h3 fw-bold">{{ training_schedule.duration }} weeks</div>
          <div>based on</div>
          <div><a href="{{ training_schedule.training_plan.get_absolute_url }}">'{{ training_schedule.training_plan.name }}'</a></div>
        </div>
        <hr class="mb-0">
        <div class="card-footer"><a href="{{ training_schedule.get_absolute_url }}"
            class="btn btn-outline-secondary btn-sm">Details</a></div>
      </div>
    </div>
    {% endfor %}
  </div>
  {% else %}
  <p>You have no training schedules</p>
  {% endif %}
  {% else %}
  <div class="text-center mt-5">
    <p class="fw-bold">Please login or signup to continue</p>
    <a href="{% url 'login' %}" class="btn btn-success">Login</a>
    <a href="{% url 'accounts:signup' %}" class="btn btn-outline-secondary">Signup</a>
  </div>
  {% endif %}
</div>

{% endblock %}