{% extends 'base_generic.html' %}
{% block content %}
<div class="container my-5">
  {% if user.is_authenticated %}
  <div class="text-end">
    <a href="{% url 'create_training_schedule' %}" class="btn btn-primary">
      <i class="fas fa-plus"></i> New Training Schedule
    </a>
  </div>
  <h1 class="mt-5 mb-2"><i class="fas fa-calendar"></i> My Training Schedules</h1>
  <div class="text-secondary">A Training Schedule is your personalized implementation of a Training Plan. You will be required to do the exercises of the Training Plan including the target repetitions, weight, progression per week etc. but you can decide when you want to start, for how many weeks you want to follow the Training Plan and most importantly on how many and on which days you want to train. Before you create your own Training Schedule be sure to know on which Training Plan you want to base it on. Have a look at <a href="{% url 'training_plans' %}">our Training Plans.</a></div>
  <hr>
  {% if training_schedules %}
  <div class="row">
    {% for training_schedule in training_schedules %}
    <div class="col-12 col-md-3">
      <div class="card text-center bg-black text-white border">
        <div class="card-header bg-dark">{{ training_schedule.start_date|date:"d.m.y" }} - {{ training_schedule.end_date|date:"d.m.y" }}</div>
        <div class="card-body">
          <div class="h3 fw-bold">{{ training_schedule.duration }} weeks</div>
          <div>based on</div>
          <div><a href="{{ training_schedule.training_plan.get_absolute_url }}">'{{ training_schedule.training_plan.name }}'</a></div>
        </div>
        <hr class="mb-0">
        <div class="card-footer"><a href="{{ training_schedule.get_absolute_url }}"
            class="btn btn-outline-secondary btn-sm">Details</a></div>
      </div>
    </div>
    {% endfor %}
  </div>
  {% else %}
  <p>You have no training schedules</p>
  {% endif %}
  {% else %}
  <div class="text-center mt-5">
    <p class="fw-bold">Please login or signup to continue</p>
    <a href="{% url 'login' %}" class="btn btn-success">Login</a>
    <a href="{% url 'accounts:signup' %}" class="btn btn-outline-secondary">Signup</a>
  </div>
  {% endif %}
</div>

{% endblock %}