<h3 class="fw-bold">Target vs. Actual (absolute)</h3>
<div class="table-responsive">
  <table class="table table-dark">
    <thead>
      <tr>
        <th scope="col">Exercise</th>
        <th class="text-center" scope="col">Target Reps/Duration</th>
        <th class="text-center" scope="col">Target Weight</th>
        <th class="text-center" scope="col">Actual Reps/Duration</th>
        <th class="text-center" scope="col">Actual Weight</th>
        <th class="text-center" scope="col">Gap Reps/Duration</th>
        <th class="text-center" scope="col">Gap Weight</th>
      </tr>
    </thead>
    <tbody>
      {% for exercise, values in target_vs_actual_absolute.items %}
      <tr>
        <td><a href="{{ exercise.get_absolute_url }}">{{ exercise.name }}</a></td>
        <td class="text-center {% if values.0.0 < 0 %}text-danger{% endif %}">{{ values.0.0|floatformat:"0" }}</td>
        <td class="text-center {% if values.0.1 < 0 %}text-danger{% endif %}">{{ values.0.1|floatformat:"-1" }}</td>
        <td class="text-center {% if values.1.0 < 0 %}text-danger{% endif %}">{{ values.1.0|floatformat:"0" }}</td>
        <td class="text-center {% if values.1.1 < 0 %}text-danger{% endif %}">{{ values.1.1|floatformat:"-1" }}</td>
        <td class="text-center {% if values.2.0 < 0 %}text-danger{% endif %}">{{ values.2.0|floatformat:"-1" }}</td>
        <td class="text-center {% if values.2.1 < 0 %}text-danger{% endif %}">{{ values.2.1|floatformat:"-1" }}</td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
</div>

<h3 class="fw-bold mt-5">Target vs. Actual (cumulative)</h3>
<div class="table-responsive">
  <table class="table table-dark">
    <thead>
      <tr>
        <th scope="col">Exercise</th>
        <th class="text-center" scope="col">Target Reps/Duration</th>
        <th class="text-center" scope="col">Actual Reps/Duration</th>
        <th class="text-center" scope="col">Gap Reps/Duration</th>
      </tr>
    </thead>
    <tbody>
      {% for exercise_name, values in target_vs_actual_cumulative.items %}
      <tr>
        <td>{{ exercise_name }}</td>
        <td class="text-center {% if values.0 < 0 %}text-danger{% endif %}">{{ values.0|floatformat:"0" }}</td>
        <td class="text-center {% if values.1 < 0 %}text-danger{% endif %}">{{ values.1|floatformat:"0" }}</td>
        <td class="text-center {% if values.2 < 0 %}text-danger{% endif %}">{{ values.2|floatformat:"-1" }}</td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
</div>