{% extends 'base_generic.html' %}
{% block content %}
<div class="container mt-5">
  <div class="text-end">
    <a href="{% url 'create_training_plan' %}" class="btn btn-primary">
      <i class="fas fa-plus"></i> Create Training Plan
    </a>
  </div>
  <h1 class="mt-5"><i class="fas fa-dumbbell"></i> Training Plans</h1>
  <div class="text-secondary">Below you will find a list of all available Training Plans. Take a look at some of them. If you like one you can start a new Training Schedule based on that Training Plan or you can create your own Training Plan. A Training Schedule is your personalized implementation of a Training Plan. You will be required to do the exercises of the Training Plan including the target repetitions, weight, progression per week etc. but you can decide when you want to start, for how many weeks you want to follow the Training Plan and most importantly on how many and on which days you want to train. So, if you have found your favorite Training Plan then go ahead and <a href="{% url 'create_training_schedule' %}">create your own personalized Training Schedule.</a></div>
  <hr>
  <div class="row row-cols-1 row-cols-md-4 g-4">
    {% for trainingplan in trainingplan_list %}
    <div class="col">
      <div class="card bg-dark text-white h-100">
        <div class="card-header h3 fw-bold"><a href="{{ trainingplan.get_absolute_url }}" class="text-white">{{ trainingplan.name }}</a></div>
        <div class="card-body">{{ trainingplan.description }}</div>
        <div class="card-footer">{{ trainingplan.exercises|length }} exercises</div>
      </div>
    </div>
    {% endfor %}
  </div>
</div>
{% endblock %}