{% extends 'base_generic.html' %}
{% load crispy_forms_tags %}
{% block content %}
<style>
  .form-text {
    color: grey;
  }
</style>
<div class="container mt-5">
  <h1><i class="fas fa-calendar-check"></i> {{ trainingschedule }}</h1>
  <form hx-get="{% url 'get-target-activities' trainingschedule.id %}" hx-trigger="change" hx-target="#targetActivities">
    <input type="date" id="datePicker" name="date">
  </form>
  <div id="targetActivities">
    <!-- Target activities will be loaded here -->
  </div>
</div>
{% endblock %}